#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#topContentWrapper{
    width: 75rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.socialLogos{
    width: 40px;
}
#bitmoji{
    width: 400px;
}