#contact{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contactWrapper{
    gap: 3rem;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.contactSegmentWrapper{
    display: flex;
    width: auto;
    height: auto;
}
#contactHeader{
    color: var(--text-hover);
    font-size: 2rem;
    font-weight: bolder;
}
#contactSubheader{
    font-size: 1.5rem;
    color: var(--primary-text);
    font-weight: bold;
}
#contactMethodWrapper{
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-between;
    align-items: center;
}
.contactIconWrapper{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    box-shadow: 0 0 .35rem .35rem #ccc;
    transition: 100ms linear;
}
.contactIcon{
    width: 4rem;
    height: auto;
}
.contactIconWrapper:hover{
    cursor: pointer;
    transform: scale(110%);
}
.contactInfoWrapper{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.topContactLabel{
    font-weight: bolder;
    font-size: 2.2rem;
}
.bottomContactLabel{
    font-weight: 400;
    color: var(--secondary-text);
    transition: color 100ms linear;
}
.bottomContactLabel:hover{
    cursor: pointer;
    color: var(--text-hover);
}
@media(max-width: 1550px){
    #contactMethodWrapper{
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
}
