*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media(max-width:800px){
  #aboutContainer #aboutWrapper{
    width: 40rem;
  }
  #aboutWrapper #aboutRight{
    width: 40rem;
  }
  #root #aboutContainer{
    padding: 0;
    width: 100%;
    height: auto;
    
  }
  #navOptions .mobileMenu{
    display: block;
  }
  #navOptions li{
      display: none;
  }
  #navWrapper #navOptions{
      justify-content: flex-end;
  }
  #navWrapper #navOptions.mobileNav{
      position: fixed;
      top: 0%;
      padding: 0;
      width: 100vw;
      height: 100vh;
      padding: 5vh 0 35vh 10vw;
      flex-direction: row-reverse;
      justify-content: space-between;
      flex-direction: column;
      background-color: var(--primary-color);
  }
  #navOptions.mobileNav .mobileMenu{
      width: 5rem;
      height: 5rem;
  }
  #navWrapper:has(#navOptions.mobileNav){
    padding: 0;

  }

  #navOptions.mobileNav li{
      display: block; 
  }
  #navOptions.mobileNav li a{
      font-size: 4rem;
  }
  #contactMethodWrapper .contactSegmentWrapper{
    width: 35rem;
  }

}
@media(max-width: 650px){
  #mainHeader, #lowerText{
    text-align: center;
  }
  #heroLeftWrapper #socialsWrapper{
    width: 25rem;
    align-items: center;
    justify-content: center;
  }
  #root #home, #root #aboutContainer{
    padding-top: 3rem;
  }
  .projectWrapper{
    width: 25rem;
  }
  #aboutContainer #aboutWrapper, #aboutWrapper #aboutRight{
    width: 25rem
  }
  #aboutRight #aboutPara{
    font-size: 1.5rem;
  }
  #topContentWrapper #heroLeftWrapper{
    width: 25rem;
  }
  #topBottomWrapper #heroFooterWrapper{
    width: 17rem;
  }
  #heroFooterLabel{
    white-space: nowrap;
  }
  .languageWrapper .languageLeft, .languageWrapper .languageRight{
    width: 3.5rem;
  }
  #heroFooterRight .languageWrapper{
    width: 5rem;
  }
  #heroInner #heroFooterRight{
    width: 20rem;
  }
  #contactMethodWrapper .contactSegmentWrapper{
    width: 30rem;
  }
}
@media(max-width: 500px){
  #heroInner #heroFooterRight{
    flex-direction: column;
    width: 5rem;
    height: 13rem;
  }
  #heroRightPhotoWrapper #bitmoji{
    width: 300px;
  }
  #heroLeftWrapper #lowerText{
    width: 20rem;
  }
  #heroLeftWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #aboutLeft #aboutLeftImage{
  width: 300px;   
  }
  #aboutContainer #aboutWrapper, #aboutWrapper #aboutRight{
    width: 20rem;
  }
  #aboutMeHeader, #aboutMeLabel, #aboutPara{
    text-align: center;
  }
  #navWrapper #navOptions.mobileNav{
    padding-bottom: 20vh;
  }
  #contact #contactWrapper{
    width: 90%;
}

}