.languageWrapper{
    display: flex;
    justify-content: space-between;
    width: 7rem;
    transition: 200ms linear;
}
.languageLeft, .languageRight{
    border-radius: .8vmin;
    transition: 200ms linear;
}
.languageLeft:hover, .languageRight:hover{
    cursor: pointer;
    
}
.languageWrapper:hover{
    cursor: pointer;
    transform: translateY(-15%);
}