#projects{
    padding-top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--secondary-color);
    box-shadow: inset 0px 1rem 1rem -.5rem #CCC;
}
#actualProjects{
    margin: 5rem 0;
}
#projectsLabel{
    color: var(--text-hover);
    font-size: 2rem;
    font-weight: bolder;
}
#projectSubheader{
    font-size: 1.5rem;
    color: var(--secondary-text);
}
#actualProjects{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.projectWrapper{
    width: 90rem;
    height: 35rem;
    background-color: var(--primary-color);
    border-radius: 6vmin;
    box-shadow: 0rem 0rem .5rem .5rem #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projectWrapperInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80rem;
    height: 30rem;
    gap: 3%;
}
.projectContentWrapper{
    display: flex;
    flex-direction: column;
    height: 25rem;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-align: center;
}
.projectDescriptLangWrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.projectImage{
    width: 50rem;
    border-radius: 2vmin;
    border: 3px solid var(--secondary-text);
    box-shadow: 0rem 0rem .3rem .3rem #ccc;
}
.projectImage:hover, .projectLanguagesWrapper:hover{
    cursor: pointer;
}
.projectHeader{
    font-size: 2.2rem;
}
.projectDate{
    color: var(--secondary-text);
    font-size: 1.7rem;

}
.projectDescription{
    font-size: 2rem;
    color: var(--secondary-text);
    font-weight: bold;
}
.languageUsedWrapper{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
}
.projectLanguagesWrapper{
    padding: .5rem;
    background-color: var(--secondary-color);
    border-radius: 3vmin;
    box-shadow: 0 0 .25rem .25rem #ccc;
    transition: 100ms linear;
}
.projectLanguagesWrapper:hover{
    transform: translateY(-.2rem);
    box-shadow: 0 .2rem .45rem .25rem #ccc;
}
.projectLogosBottom{   
    margin-top: 2rem;
    display: flex;
    width: 20rem;
    justify-content: space-between;
}
.codeButton{
    color: var(--primary-text);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 100ms linear;
}
.codeButton:hover{
    color: var(--text-hover);
}
