#projects{
    padding-top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--secondary-color);
    box-shadow: inset 0px 1rem 1rem -.5rem #CCC;
}
#actualProjects{
    margin: 5rem 0;
}
#projectsLabel{
    color: var(--text-hover);
    font-size: 2rem;
    font-weight: bolder;
}
#projectSubheader{
    font-size: 1.5rem;
    color: var(--secondary-text);
}
#actualProjects{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.projectWrapper{
    width: 90rem;
    height: 35rem;
    background-color: var(--primary-color);
    border-radius: 6vmin;
    box-shadow: 0rem 0rem .5rem .5rem #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projectWrapperInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80rem;
    height: 30rem;
    gap: 5%;
}
.projectContentWrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 25rem;
    align-items: center;
    justify-content: start;
}
.projectImage{
    height: 25rem;
    border-radius: 2vmin;
    border: 3px solid var(--secondary-text);
    box-shadow: 0rem 0rem .3rem .3rem #ccc;
}
.projectImage:hover{
    cursor: pointer;
}