@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;500;600;700;800&family=Ultra&display=swap');
:root {
    --primary-text:#393838;
    --secondary-text:#868585;
    --primary-color:#fff;
    --secondary-color:#e9e9e9;
    --text-hover:#5858f5
    }
    * {
        padding:0;
        margin:0;
        box-sizing:border-box;
        font-family:Helvetica;
        scroll-behavior: smooth;
    }
    h1:hover,h2:hover,p:hover {
    cursor:default
    }
    #navWrapperOuter {
    width:100%;
    background-color:#fff;
    position:fixed;
    top:0;
    box-shadow:0 0 .9rem #000;
    height:5.5rem;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 1
    }
    #navWrapper {
    position:fixed;
    z-index:10;
    height:auto;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:0 4rem 2rem;
    margin-top:2rem
    }
    #navLogo {
    width:70px
    }
    #navLogo:hover {
    cursor:pointer
    }
    #navOptions {
    width:25rem;
    display:flex;
    justify-content:space-between;
    list-style:none;
    align-items:center
    }
    .navLi a {
    font-size:1.3rem;
    font-weight:700;
    color:var(--primary-text);
    text-decoration:none;
    transition:100ms linear
    }
    .navLi img:hover {
    cursor:pointer
    }
    .navLi a:hover {
    color:#5858f5;
    font-size:1.5rem;
    text-shadow:0 0 .2rem rgba(0,0,0,0.233)
    }
    .mobileMenu {
    display:none
    }
    .themeSwitcherIcon {
    height:48px
    }
    #about {
    display:flex;
    align-items:center;
    justify-content:center;
    padding:15vh;
    width:100%
    }
    #aboutWrapper {
    display:flex;
    width:120rem;
    align-items:flex-start;
    justify-content:center
    }
    #aboutLeftImage {
    width:500px;
    margin-right:5vw
    }
    #aboutRight {
    width:50rem
    }
    #aboutMeLabel {
    font-size:1.5rem;
    margin-bottom:1.5vh;
    color:var(--text-hover)
    }
    #aboutMeHeader {
    font:800 2.5rem 'Playpen Sans',Arial,Helvetica,sans-serif
    }
    #aboutPara {
    margin-top:3vh;
    line-height:2rem;
    font-size:1.3rem;
    color:var(--secondary-text)
    }
    #contact {
    margin:4rem 0;
    display:flex;
    flex-direction:column;
    align-items:center
    }
    #contactWrapper {
    gap:3rem;
    width:80%;
    display:flex;
    flex-direction:column
    }
    .contactSegmentWrapper {
    display:flex;
    width:auto;
    height:auto
    }
    #contactHeader {
    color:var(--text-hover);
    font-size:2rem;
    font-weight:bolder
    }
    #contactSubheader {
    font-size:1.5rem;
    color:var(--primary-text);
    font-weight:700
    }
    #contactMethodWrapper {
    display:flex;
    flex-direction:row;
    width:65%;
    justify-content:space-between;
    align-items:center
    }
    .contactIconWrapper {
    background-color:var(--secondary-color);
    display:flex;
    justify-content:center;
    align-items:center;
    width:6rem;
    height:6rem;
    border-radius:100%;
    box-shadow:0 0 .35rem .35rem #ccc;
    transition:100ms linear
    }
    .contactIcon {
    width:4rem;
    height:auto
    }
    .contactIconWrapper:hover {
    cursor:pointer;
    transform:scale(110%)
    }
    .contactInfoWrapper {
    margin-left:1rem;
    display:flex;
    flex-direction:column;
    justify-content:center
    }
    .topContactLabel {
    font-weight:bolder;
    font-size:2.2rem
    }
    .bottomContactLabel {
    font-weight:400;
    color:var(--secondary-text);
    transition:color 100ms linear
    }
    .bottomContactLabel:hover {
    cursor:pointer;
    color:var(--text-hover)
    }
    #home {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    min-height:95vh;
    height:fit-content;
    padding-top:7rem;
    overflow-x:hidden;
    overflow-y:visible;
    background-color:var(--secondary-color);
    box-shadow:inset 0 -1rem 1rem -.5rem #CCC;
    scroll-behavior: smooth
    }
    #topBottomWrapper {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
    }
    #topContentWrapper {
    width:70rem;
    justify-content:space-between;
    display:flex;
    flex-direction:row
    }
    #heroLeftWrapper {
    width:40rem
    }
    #mainHeader {
    color:var(--primary-text);
    font:800 3.5rem/5rem 'Playpen Sans'
    }
    #lowerText {
    padding-top:1.5rem;
    line-height:2.2rem;
    font-size:1.4rem;
    color:var(--secondary-text);
    font-weight:200
    }
    #socialsWrapper {
    padding-top:1.5rem;
    display:flex;
    justify-content:space-between;
    width:80px
    }
    #githubA,#linkedA {
    width:40px;
    height:auto
    }
    #githubA:hover,#linkedA:hover {
    cursor:pointer
    }
    #githubLogo,#linkedinLogo {
    transform:scale(70%)
    }
    #githubLogo g,#linkedinLogo path {
    fill:#393838;
    transition:fill 200ms linear
    }
    #githubLogo:hover g,#linkedinLogo:hover path {
    fill:var(--text-hover)
    }
    #bitmoji {
    width:400px
    }
    #heroFooterWrapper {
    margin-top:5vh;
    width:70rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between
    }
    #heroInner {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:40rem
    }
    #heroFooterLeft {
    display:flex;
    align-items:center
    }
    #heroFooterLabel {
    font-size:1.3rem;
    font-weight:400;
    color:var(--primary-text)
    }
    #heroFooterRight {
    display:flex;
    width:27.5rem;
    justify-content:space-between;
    align-items:center
    }
    .languageWrapper {
    display:flex;
    justify-content:space-between;
    width:7.5rem;
    transition:200ms linear
    }
    .languageLeft,.languageRight {
    width:3.5rem;
    border-radius:.8vmin;
    transition:200ms linear
    }
    .languageLeft:hover,.languageRight:hover {
    cursor:pointer
    }
    .languageWrapper:hover {
    cursor:pointer;
    transform:translateY(-15%)
    }
    #projects {
    padding-top:10rem;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    background-color:var(--secondary-color);
    box-shadow:inset 0 1rem 1rem -.5rem #CCC,inset 0 -1rem 1rem -.5rem #CCC
    }
    #actualProjects {
    margin:5rem 0
    }
    #projectsLabel {
    color:var(--text-hover);
    font-size:2rem;
    font-weight:bolder
    }
    #projectSubheader {
    font-size:1.5rem;
    color:var(--primary-text);
    font-weight:700
    }
    #actualProjects {
    display:flex;
    flex-direction:column;
    gap:5rem
    }
    .projectWrapper {
    width:90rem;
    height:35rem;
    background-color:var(--primary-color);
    border-radius:6vmin;
    box-shadow:0 0 .5rem .5rem #ccc;
    display:flex;
    align-items:center;
    justify-content:center
    }
    .projectWrapperInner {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:80rem;
    height:30rem;
    gap:3%
    }
    .projectContentWrapper {
    display:flex;
    flex-direction:column;
    height:25rem;
    align-items:center;
    justify-content:flex-start;
    gap:1rem;
    text-align:center
    }
    .projectDescriptLangWrapper {
    display:flex;
    flex-direction:column;
    gap:1.5rem
    }
    .projectImage {
    width:50rem;
    border-radius:2vmin;
    border:3px solid var(--secondary-text);
    box-shadow:0 0 .3rem .3rem #ccc
    }
   .projectLanguagesWrapper:hover, .projectLanguagesWrapper .projectLanguageH:hover {
    cursor:pointer
    }
    .projectHeader {
    font-size:2.2rem
    }
    .projectDate {
    color:var(--secondary-text);
    font-size:1.7rem
    }
    .projectDescription {
    font-size:2rem;
    color:var(--secondary-text);
    font-weight:700
    }
    .languageUsedWrapper {
    display:flex;
    flex-direction:row;
    width:90%;
    justify-content:space-around
    }
    .projectLanguagesWrapper {
    padding:.5rem;
    background-color:var(--secondary-color);
    border-radius:3vmin;
    box-shadow:0 0 .25rem .25rem #ccc;
    transition:100ms linear
    }
    .projectLanguagesWrapper:hover {
    transform:translateY(-.2rem);
    box-shadow:0 .2rem .45rem .25rem #ccc
    }
    .projectLogosBottom {
    margin-top:2rem;
    display:flex;
    width:20rem;
    justify-content:space-between
    }
    .codeButton {
    color:var(--primary-text);
    font-size:1.5rem;
    font-weight:700;
    text-decoration:none;
    transition:color 100ms linear
    }
    .codeButton:hover {
    color:var(--text-hover)
    }
    @media(max-width: 1550px) {
    #contactMethodWrapper {
    flex-direction:column;
    align-items:flex-start;
    gap:2rem
    }
    }
    @media(max-width: 1450px) {
    #aboutWrapper {
    flex-direction:column;
    align-items:center
    }
    #aboutLeftImage {
    margin:0 0 5rem
    }
    .projectWrapper {
    width:65rem;
    height:60rem;
    justify-content:center
    }
    .projectWrapperInner {
    flex-direction:column;
    height:55rem;
    width:60rem
    }
    .projectWrapper:nth-child(even) .projectWrapperInner {
    flex-direction:column-reverse
    }
    .projectDescriptLangWrapper {
    align-items:center
    }
    .languageUsedWrapper {
    width:30rem
    }
    }
    @media(max-width: 1050px) {
    .projectWrapper {
    width:40rem;
    height:35rem
    }
    .projectContentWrapper {
    height:15rem
    }
    .projectWrapperInner {
    width:35rem;
    height:30rem
    }
    .projectImage {
    height:15rem;
    width:auto
    }
    .projectHeader {
    font-size:2rem
    }
    .projectDescription {
    font-size:1.5rem
    }
    .projectLogosBottom {
    margin-top:.5rem
    }
    .projectDescriptLangWrapper {
    gap:.5rem
    }
    }
    @media(max-width: 1150px) {
    #topBottomWrapper {
    align-items:center;
    justify-content:center
    }
    #topContentWrapper {
    flex-direction:column;
    align-items:center;
    justify-content:center
    }
    #heroFooterWrapper {
    align-items:center;
    justify-content:center
    }
    }
    @media(max-width: 650px) {
    #projectOutterWrapperInner {
    display:flex;
    flex-direction:column;
    align-items:center
    }
    #projectsLabel,#projectSubheader {
    width:30rem;
    padding-left:10%
    }
    #projectsSubheader {
    font-size:1rem
    }
    .projectWrapper {
    width:30rem;
    height:40rem
    }
    #actualProjects {
    align-items:center
    }
    .projectImage {
    height:12.5rem
    }
    .projectDescription {
    width:80%
    }
    #root #projects {
    padding-top:3rem
    }
    }
    @media(max-width: 500px) {
    #projectsLabel,#projectSubheader {
    width:25rem;
    padding-left:10%
    }
    .projectWrapper .projectWrapperInner {
    height:40rem;
    justify-content:center
    }
    .projectWrapperInner .languageUsedWrapper {
    width:20rem
    }
    #actualProjects .projectWrapper {
    width:22.5rem;
    height:42.5rem
    }
    .projectImage {
    height:11rem
    }
    }
    #root {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    overflow-x:hidden
    }
    @media(max-width:800px) {
    #about #aboutWrapper {
    width:40rem
    }
    #aboutWrapper #aboutRight {
    width:40rem
    }
    #root #about {
    padding:0;
    width:100%;
    height:auto
    }
    #navOptions .mobileMenu {
    display:block
    }
    #navOptions li {
    display:none
    }
    #navWrapper #navOptions {
    justify-content:flex-end
    }
    #navWrapper #navOptions.mobileNav {
    position:fixed;
    top:0;
    padding:0;
    width:100vw;
    height:100vh;
    padding:5vh 0 35vh 10vw;
    flex-direction:row-reverse;
    justify-content:space-between;
    flex-direction:column;
    background-color:var(--primary-color)
    }
    #navOptions.mobileNav .mobileMenu {
    width:5rem;
    height:5rem
    }
    #navWrapper:has(#navOptions.mobileNav) {
    padding:0
    }
    #navOptions.mobileNav li {
    display:block
    }
    #navOptions.mobileNav li a {
    font-size:4rem
    }
    #contactMethodWrapper .contactSegmentWrapper {
    width:35rem
    }
    }
    @media(max-width: 650px) {
    #mainHeader,#lowerText {
    text-align:center
    }
    #heroLeftWrapper #socialsWrapper {
    width:25rem;
    align-items:center;
    justify-content:center
    }
    #root #home,#root #about {
    padding-top:7rem
    }
    .projectWrapper {
    width:25rem
    }
    #about #aboutWrapper,#aboutWrapper #aboutRight {
    width:25rem
    }
    #aboutRight #aboutPara {
    font-size:1.5rem
    }
    #topContentWrapper #heroLeftWrapper {
    width:25rem
    }
    #topBottomWrapper #heroFooterWrapper {
    width:17rem
    }
    #heroFooterLabel {
    white-space:nowrap
    }
    .languageWrapper .languageLeft,.languageWrapper .languageRight {
    width:3.5rem
    }
    #heroFooterRight .languageWrapper {
    width:5rem
    }
    #heroInner #heroFooterRight {
    width:20rem
    }
    #contactMethodWrapper .contactSegmentWrapper {
    width:30rem
    }
    #navWrapperOuter #navWrapper {
    padding:0 2rem 2rem
    }
    }
    @media(max-width: 500px) {
    #heroInner #heroFooterRight {
    flex-direction:column;
    width:5rem;
    height:13rem
    }
    #heroRightPhotoWrapper #bitmoji {
    width:300px
    }
    #heroLeftWrapper #lowerText {
    width:20rem
    }
    #heroLeftWrapper {
    display:flex;
    align-items:center;
    flex-direction:column
    }
    #aboutLeft #aboutLeftImage {
    width:300px
    }
    #about #aboutWrapper,#aboutWrapper #aboutRight {
    width:20rem
    }
    #aboutMeHeader,#aboutMeLabel,#aboutPara {
    text-align:center
    }
    #navWrapper #navOptions.mobileNav {
    padding-bottom:20vh
    }
    #contact #contactWrapper {
    width:90%
    }
    }